@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar to look more native */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #d1d5db; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; 
}

.dark ::-webkit-scrollbar-thumb {
  background: #374151; 
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #4b5563; 
}

/* Drag Region */
.titlebar-drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
